/* TABLETTE */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 15px;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  #filtres ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  #info {
    margin-bottom: 5px;
  }

  #main-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #hebergements,
  #populaires {
    width: 100%;
    margin-bottom: 20px;
  }

  #populaires-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card-heberg {
    width: 30%;
  }

  .card-populaire img {
    height: 150px;
  }

  .img-populaire {
    width: 50%;
  }

  .details-populaire {
    width: 50%;
  }

  .card-populaire {
    width: 48%;
  }

  #activites {
    margin-top: 20px;
  }

  #activites-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-medium {
    height: 60%;
    margin-bottom: 20px;
  }

  .card-small {
    height: 45%;
  }

  .card-equal {
    height: 40%;
  }

  .img-act {
    height: 90%;
  }

  .md-act {
    height: 60%;
  }

  .sm-act {
    height: 48%;
  }

  .eq-act {
    height: 78%;
  }

  .card-act {
    width: 50%;
    height: 50%;
    padding: 25px 10px;
  }

  .card-act img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* MOBILE */

@media only screen and (max-width: 768px) {
  main {
    padding: 0;
  }

  header {
    width: 100%;
  }

  h3 {
    font-size: 18px;
  }

  h2 {
    font-size: 22px;
    margin: 20px;
  }

  p {
    font-size: 15px;
  }

  .fa-star{
    font-size: 13px;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header img {
    width: 100px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  nav ul li {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
  }

  nav ul li:hover {
    border-top: 0px solid;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }

  #formulaire form {
    justify-content: center;
  }

  button {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  .fas.fa-search {
    display: block;
  }

  #boutton-desktop {
    display: none;
  }

  #filtres {
    display: block;
    margin-top: 20px;
  }

  #filtres ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }

  #info {
    margin-bottom: 5px;
  }

  #main-container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  #hebergements,
  #populaires {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }

  #populaires {
    border-radius: 0;
  }

  #hebergements {
    background-color: white;
  }

  #hebergements h2 {
    margin-left: 10px;
  }

  #plus{
    margin-left: 20px;
  }

  .card-heberg {
    width: 100%;
  }

  #populaires-container {
    align-items: center;
  }

  .img-populaire {
    width: 50%;
  }

  .details-populaire {
    width: 50%;
  }

  .card-populaire {
    width: 95%;
  }

  .card-populaire a {
    margin-bottom: 10px;
  }

  #activites {
    margin-top: 20px;
  }

  #activites-container {
    flex-direction: row;
    flex-wrap: wrap;
    height: unset;
    align-items: center;
  }

  .bloc-container {
    width: 100%;
    height: unset;
    justify-content: unset;
  }

  .img-act,
  .md-act,
  .sm-act,
  .eq-act {
    height: 190px;
  }

  .card-act {
    width: 100%;
  }

  .card-act img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mobile-card {
    margin-bottom: 20px;
  }

  .card-act {
    padding: 0 10px;
  }

  .card-medium {
    height: 45%;
  }

  .card-equal {
    height: 50%;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
  }

  footer ul {
    padding: 0;
  }

  footer section {
    width: 100%;
  }
}
